.hurray-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
   
}
.prize-img{
    margin-top: -150px;
    height: 600px;
    width: 700px;
    margin-bottom: 20px;
}
.hurray-h1{
    font-size: 70px;
    letter-spacing: 10px;
}
.hurray-h3{
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 40px;
}
.hurray-button{
    padding: 14px 40px;
    background-color:white;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
}